/* ==========================================================================
   Site styles
   ========================================================================== */

body {
  background-color: $white;
}

hgroup {
  float: left;
  display: inline-block;
  h1 {
    font-size: $font-size-1;
    color: $near-black;
  }
  h2 {
    font-size: $font-size-3;
    color: $gray-medium;
  }
}

div.download {
  float: right;
  display: inline-block;
  a.btn {
    padding: 8px 16px;
    font-size: $font-size-5;
    color: $white;
    display: block;
    background-color: $gray-medium;
    &:hover {
      background-color: $gray-dark;
    }
  }
}

img {
  width: 100%;
}

